NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
INTERNAL_WORKER_TOKEN=change-worker-token
AUTO_SHARE_THRESHOLD=0.62
REVIEW_MIN_THRESHOLD=0.48
MIN_ENROLL_QUALITY=0.50
LOGIN_VERIFY_THRESHOLD=0.62
LOGIN_VERIFY_MIN_QUALITY=0.55
LOGIN_VERIFY_WINDOW_MINUTES=5
LOGIN_VERIFY_MAX_ATTEMPTS=8
LOGIN_VERIFY_TTL_MINUTES=720
INLINE_PROCESS_ON_UPLOAD=false
MAX_FACES_PER_JOB=40
MATCH_GAP_THRESHOLD=0.06
